node_modules
.next/
next-env.d.ts
*.tsbuildinfo
.vercel
.render

# Environment variables
.env*
!.env.example

# OS
.DS_Store

# Private keys and secrets
*.pem
*.json
!package.json
!package-lock.json
!tsconfig.json
!jsconfig.json
!next.config.json

# Local databases
*.sqlite
*.sqlite3
*.db
*.db3
*.s3db
*.sl3

# Deployment scripts
Dockerfile
docker-compose.yml
